<!--
  Generated template for the AddSoalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding class = "detail-bg">
    <div class="border-bottom" padding>
        <h1 ion-text color="dark" class="bold" text-center>Add Quiz Question</h1>  
    </div>

    <form [formGroup]="quizForm">
      <div class="form-style-2">

        <label>
          <span>Question <span class="required">*</span></span>
          <textarea ion-textarea class="textarea-field" formControlName="question"></textarea>
        </label>

        <label>
          <span>Option A <span class="required">*</span></span>
          <input ion-input type="text" class="input-field" formControlName="option_a"/>
        </label>

        <label>
          <span>Option B <span class="required">*</span></span>
          <input ion-input type="text" class="input-field" formControlName="option_b"/>
        </label>
        
        <label>
          <span>Option C <span class="required">*</span></span>
          <input ion-input type="text" class="input-field" formControlName="option_c"/>
        </label>

        <label>
          <span>Option D <span class="required">*</span></span>
          <input ion-input type="text" class="input-field" formControlName="option_d"/>
        </label>

        <label>
          <span>Right Answer <span class="required">*</span></span>
          <select ion-select class="select-field" formControlName="answer">
            <option ion-option value="a">A</option>
            <option ion-option value="b">B</option>
            <option ion-option value="c">C</option>
            <option ion-option value="d">D</option>
          </select>
        </label>
      </div>

      <div text-center>
        <button ion-button type="submit" color="primary" [disabled]="!quizForm.valid" (click)="submitSoal()">Submit</button>
        <button ion-button type="submit" (click)="popPage()" class = "dark-blue-bg" >Cancel</button>
      </div>
      </form>

</ion-content>
