<!--
  Generated template for the AdminDailyProblemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>admin-daily-problem</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class = "detail-bg">

  <div class="border-bottom" padding>
    <h1 ion-text color="dark" class="bold" text-center>Confirm Daily Problem</h1>  
  </div>

  <div padding>

    <ion-list padding-top>
        <ion-card *ngFor="let item of buatfor; let i=index">
         x
            <ion-item>
              <!-- <ion-avatar item-start left>
                <img src="img/marty-avatar.png">
              </ion-avatar> -->
              <div ><p ion-text class = "float-left">Name </p> &emsp;&emsp;&emsp; :{{memberName[i]}} </div>
              <div><p ion-text class = "float-left">Cf_handle </p>&emsp;&emsp; :{{memberCf[i]}}</div>
              <div class = "font-dark-blue bold"><p ion-text class = "float-left">problem</p> &emsp;&emsp;&emsp;&ensp;&nbsp; :{{memberDailyProblem[i]}} </div>

            </ion-item>
          <hr>
            <div padding-left class = "padding-bottom-small">
                <button ion-button small color = "primary" (click)="benar(memberCf[i])" >
                  <div>True</div>
                </button>
                <button ion-button small class="dark-blue-bg" (click) = "salah()">
                  <div>False</div>
                </button>
            </div>
        </ion-card>
      </ion-list>
</div>

</ion-content>
<!-- ////////////
  <template *ngFor="let item of items; let i=index" >
 <ion-slide *ngIf="i<5" >
  <img [src]="item.ItemPic">
 </ion-slide>
</template>
  //////// -->