<!--
  Generated template for the CommentlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>commentlist</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <ion-card *ngFor="let comment of allComment">
        <!-- <ion-item-sliding *ngFor="let note of allNotes"> -->
          
          
            <!-- <ion-item> -->
            <ion-item>
              <ion-avatar item-start left>
                <img src="img/marty-avatar.png">
              </ion-avatar>
              <h2>{{comment.name}}</h2>
              <p>November 5, 1955</p>
            </ion-item>
            <!-- aaaaa -->
    
      <ion-card-content>
        <p>{{comment.content}}</p>
      </ion-card-content>
    
        <!-- <ion-col center text-center>
          <ion-note>
            11h ago
          </ion-note>
        </ion-col> -->
    
    <!-- </ion-item> -->
    
          <!-- <ion-item-options side="right">
            <button ion-button color="secondary" (click)="openModalDetail(note)">
                <ion-icon name="search"></ion-icon>
                Details
            </button>
            <button ion-button color="danger" (click)="openModalDelete(note)">
                <ion-icon name="trash"></ion-icon>
                Delete
            </button>
          </ion-item-options> -->
        <!-- </ion-item-sliding> -->
      </ion-card>
      </ion-list>
    <button ion-button (click)="openCommentModal()">comment</button>
    <button ion-button (click)="cancel()">cancel</button>
</ion-content>
