<!--
  Generated template for the AddNotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Notes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class = "detail-bg">

  <div class="border-bottom" padding>
      <h1 ion-text color="dark" class="bold" text-center>What do you want to share ?</h1>  
  </div>

  <form [formGroup]="newNoteForm">

      <div class="form-style-2">
  
      <!-- <ion-item>
        <ion-label>
          Title
        </ion-label>
        <ion-input type="text" formControlName="title" placeholder="Title">
        </ion-input>
      </ion-item> -->

       <label>
          <span>Title <span class="required">*</span></span>
          <input ion-input type="text" class="input-field" formControlName="title"/>
        </label>


      <!-- <ion-item>
        <ion-label>
          Text
        </ion-label>
        <ion-input type="text" formControlName="text" placeholder="Text">
        </ion-input>
      </ion-item> -->

        <label>
          <span>Text <span class="required">*</span></span>
          <textarea ion-textarea class="textarea-field" formControlName="text"></textarea>
        </label>
    </div>

    <div text-center>
      <button ion-button type="submit" color="primary" [disabled]="!newNoteForm.valid"  (click)="showAlert()">Post</button>
      <button ion-button type="button" class = "dark-blue-bg" (click)="cancel()">Cancel</button>
    </div>
  </form>
</ion-content>
