page-chat {
    .ion-card {
        background-color: slategray !important;
    }

    .card-me {
    background-color: #ADD8E6 ; // black
    }

    .card-you {
    background-color: #ffffff; // black
    }
    

}
