<!--
  Generated template for the DailyQuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>DailyQuizPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h1>{{sudah}}</h1>
<ion-list radio-group  (ionChange)="jawabQuiz($event,i)" *ngFor="let question of kumpulanQuiz;let i = index;" >

  <ion-list-header text-wrap >
    {{question.pertanyaan}}
  </ion-list-header>

  <ion-item no-lines class="card" >
    <ion-label>{{question.pilihan1}}</ion-label>
    <ion-radio value="{{question.pilihan1}}"></ion-radio>
  </ion-item> 
  <ion-item no-lines class="card" >
    <ion-label>{{question.pilihan2}}</ion-label>
    <ion-radio value="{{question.pilihan2}}"></ion-radio>
  </ion-item> 
  <ion-item no-lines class="card" >
    <ion-label>{{question.pilihan3}}</ion-label>
    <ion-radio value="{{question.pilihan3}}"></ion-radio>
  </ion-item> 
  <ion-item no-lines class="card" >
    <ion-label>{{question.pilihan4}}</ion-label>
    <ion-radio value="{{question.pilihan4}}"></ion-radio>
  </ion-item> 
  <ion-row>
    <p id="answer">Your Answer is {{jawabanUser[i]}}</p>
  </ion-row> 
</ion-list>
<ion-grid>
  
  <ion-row>
      <button *ngIf="is_adminss()" ion-button (click) = "checkAnswer()">
          Check
        </button>
    
  </ion-row>
</ion-grid>
<!-- <script>
var x =1;
function myFunction(id) {
    if(id==x){
      return {{question.pertanyaan}};
    }
}
</script> -->
</ion-content>
