page-verify-user {
    .list .item {
        // background-color: #498aff;
        border-width: 1px;
        border-style: solid;
        border-color: #C0C0C0;
        max-width: 100%;
        margin-top: 3%;
        // color: white;
      }
      
      .list {
        margin-top:5%;
      }
}


