<!--
  Generated template for the LeaderboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  		<ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LeaderboardPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <ion-row>
  	<ion-item no-lines class="card">
  		<ion-label col-41><ion-icon name="trophy" color="gold"></ion-icon></ion-label>
  		<ion-label col-4 *ngFor="let n of namaRank1" >{{namaRank1}}</ion-label>
  		<ion-label col-4>{{rank1}}Point</ion-label>
  	</ion-item>
  </ion-row>
  <ion-row>
  	<ion-item no-lines class="card">
  		<ion-label col-4><ion-icon name="trophy" color="silver"></ion-icon></ion-label>
  		<ion-label col-4 *ngFor="let n of namaRank2" >{{namaRank2}}</ion-label>
  		<ion-label col-4>{{rank2}}Point</ion-label>
  	</ion-item>
  </ion-row>
  <ion-row>
  	<ion-item no-lines class="card">
  		<ion-label col-4><ion-icon name="trophy" color="bronze"></ion-icon></ion-label>
			<ion-label col-4 *ngFor="let n of namaRank3" >{{namaRank3}}</ion-label>
  		<ion-label col-4>{{rank3}}Point</ion-label>
  	</ion-item>
  </ion-row>
  <ion-row>
  	<ion-item no-lines class="card">
  		<ion-label col-4>4</ion-label>
			<ion-label col-4 *ngFor="let n of namaRank4" >{{namaRank4}}</ion-label>
  		<ion-label col-4>{{rank4}}Point</ion-label>
  	</ion-item>
  </ion-row>
  <ion-row>
  	<ion-item no-lines class="card">
  		<ion-label col-4>5</ion-label>
			<ion-label col-4 *ngFor="let n of namaRank5" >{{namaRank5}}</ion-label>
  		<ion-label col-4>{{rank5}}Point</ion-label>
  	</ion-item>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
	<ion-row>
  	<ion-item no-lines class="card">
  		<ion-label col-4>{{rankUser}}</ion-label>
  		<ion-label col-4>{{namaUSer}}</ion-label>
  		<ion-label col-4>{{pointUser}}Point</ion-label>
  	</ion-item>
  </ion-row>
</ion-footer>
