<!--
  Generated template for the DailyProblemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  		<ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>DailyProblemPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="dailyProblem()"> give problem </button> 
  <ion-label>your problem right now : {{problems}}</ion-label>
  <ion-label>your  random counter : {{anotherProblem}}</ion-label>
</ion-content>
