<!--
  Generated template for the VerifyUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  		<ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>AdminPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class = "detail-bg">

 
  
  <ion-grid padding-top>
    <ion-row>
      <ion-col tappable (click) = "showPage(verifyUserPage)" class = "col-1-bg">
          <p class = "text-size">Verify User</p>
          <ion-icon name="checkmark" class = "icon-size" ></ion-icon>
      </ion-col>
      <ion-col tappable (click) = "showPage(viewMemberPage)" class = "dark-blue-bg">
          <p class = "text-size">View Member</p>
          <ion-icon name="people" class = "icon-size"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col tappable (click) = "showPage(viewComiteePage)" class = "dark-blue-bg">
            <p class = "text-size">View status</p>
            <ion-icon name="ribbon" class = "icon-size"></ion-icon>
        </ion-col>
        <ion-col tappable (click) = "showPage(addSoalPage)" class = "col-1-bg">
            <p class = "text-size">Add Soal Quiz</p>
            <ion-icon name="bulb" class = "icon-size"></ion-icon>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-6 tappable (click) = "showPage(adminDailyProblemPage)" class = "col-1-bg">
            <p class = "text-size">Confirm Daily Problem</p>
            <ion-icon name="help" class = "icon-size"></ion-icon>
        </ion-col>
        <ion-col col-6 tappable (click) = "resetDailyProblem()" class = "dark-blue-bg">
            <p class = "text-size">Reset Daily Problem</p>
            <ion-icon name="refresh" class = "icon-size"></ion-icon>
        </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>
