<!--
  Generated template for the AddeventpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>addeventpage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="newEventForm" (ngSubmit)="addEvents()">
  
        <ion-item>
          <ion-label>
            Title
          </ion-label>
          <ion-input type="text" formControlName="title">
          </ion-input>
        </ion-item>
    
        <!-- <ion-item>
          <ion-label>
            Author
          </ion-label>
          <ion-input type="text" formControlName="author" placeholder="Author">
          </ion-input>
        </ion-item> -->
    
        <ion-item>
          <ion-label>
            Note
          </ion-label>
          <ion-input type="text" formControlName="text">
          </ion-input>
        </ion-item>

        <ion-item>
            <ion-label>
              Start Time
            </ion-label>
            <ion-datetime formControlName="start_time">
            </ion-datetime>
          </ion-item>

        <ion-item>
            <ion-label>
              End Time
            </ion-label>
            <ion-datetime formControlName="end_time">
            </ion-datetime>
          </ion-item>

        <ion-item>
            <ion-label>
              Location
            </ion-label>
            <ion-input type="text" formControlName="location">
            </ion-input>
          </ion-item>
    
        <button ion-button type="submit" color="primary" [disabled] = "!newEventForm.valid" block>Add Event</button>
        <button ion-button type="button" class = "dark-blue-bg" block (click)="cancel()">Cancel</button>
      </form>
</ion-content>
